<!DOCTYPE html>
<html lang="{{@site.lang}}">
<div class="footer_container">
	<footer class="footer">
		<div class="row">
			<div class="column">
				{{> recent_post}}
			</div>
			<div class="vl"></div>
			<div class="column">
				{{> footer-subscribe}}
			</div>
		</div>
		<hr style="width: 90%; margin: 0 auto;">

	</footer>
</div>
</html>