<!DOCTYPE html>
<html lang="{{@site.lang}}">
<div class="footer_container">
	<footer class="footer">
		<hr style="width: 90%; margin: 0 auto;">
		<div class="row">
			<div class="column">
				{{> footer-nav}}
			</div>
			<div class="vl"></div>
			<div class="column">
				{{> footer-subscribe}}
			</div>
		</div>
	</footer>
</div>
</html>